
@media print {
  #bracketGrid {
    width: 16.8in;
    height: 10.5in;
    overflow: hidden;
  }
  .match {
    break-inside: avoid;
  }
}

@media (max-width: 600px) {
  #allAmericanBox {
    position: static;
    margin-top: 20px;
    width: 100%;
  }
  #toggleAABox {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
